<br clear="all">

<div class="margin50">
<h1>Edit your information</h1>
<%= form_for @user, url: user_path(@user)  do |f| %>
    <% if @user.errors.any? %>
      <p>
        <%= @user.errors.full_messages.join(', ') %>
      </p>
    <% end %>
  
    <div>
      <%= f.label :first_name %>
      <%= f.text_field(:first_name, value: @user.first_name, class: "hundyP") %>
    </div>

    <br clear="all">

    <div>
      <%= f.label :last_name %>
      <%= f.text_field(:last_name, value: @user.last_name, class: "hundyP") %>
    </div>
  
    <br clear="all">

    <div>
      <%= f.label :email %>
      <%= f.email_field(:email, class: "hundyP") %>
    </div>
  
    <br clear="all">

    <div>
      <%= f.label :current_password %>
      <%= f.password_field(:current_password, class: "hundyP") %>
    </div>
  
    <br clear="all">

    <div>
      <%= f.label :new_password %>
      <%= f.password_field(:new_password, class: "hundyP") %>
    </div>
  
    <br clear="all">

    <div>
      <%= f.label :new_password_confirmation %>
      <%= f.password_field(:new_password_confirmation, class: "hundyP") %>
    </div>
  
    <br clear="all">
  
    <%= f.submit"Submit"%>
<% end %>

 