<br clear="all">

<h1>Change Your Password</h1>

<%= form_for @user, url: user_path(@user)  do |f| %>
    <% if @user.errors.any? %>
      <p>
        <%= @user.errors.full_messages.join(', ') %>
      </p>
    <% end %>

    <div>
        <%= f.label :current_password %>
        <%= f.text_field(:current_password, value: @user.current_password, class: "hundyP") %>
    </div>

    <div>
        <%= f.label :new_password %>
        <%= f.text_field(:new_password, value: @user.new_password, class: "hundyP") %>
    </div>

    <div>
        <%= f.label :new_password_confirmation %>
        <%= f.text_field(:new_password_confirmation, value: @user.new_password_confirmation, class: "hundyP") %>
    </div>


  <%= f.submit"Submit"%>
<% end %>