<br clear="all">
<div class="margin50">
<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<p>By <%= @post.user&.full_name || "[Deleted]" %></p>

<div>
  <small>
    Posted <%= time_ago_in_words(@post.created_at) %> ago
  </small>
  •
  <small>
    Last edited <%= time_ago_in_words(@post.updated_at) %> ago
  </small>
  •

</div>
<br>

<% if user_signed_in? %>

<% if can?(:edit, @post) %>
  <div class="btn btn-outline-primary">
    <%= link_to "Edit", edit_post_path(@post) %>
  </div>
<% end %>
      
<% if can?(:delete, @post) %>
  <div class="btn btn-outline-primary">
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<% end %> 
<br>

<h2>Comments</h2>
<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.present? %>
    <p>
      <%= @comment.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <%#= f.hidden_field :post_id, value: @post.id %>
  <div>
    <%= f.text_area(
      :body, rows: 6,
      class: "hundyP",
      placeholder: "What are your thoughts?"
    ) %>
  </div>
  <input type="Submit" class="btn btn-outline-primary" value="Submit">
<% end %>
<br clear="all">
<br>
<div class="answer-list">
  <% @comments.each do |comment| %>
    <div>
      <p>
      <strong>
        <%= comment.user&.full_name || "[DELETED]" %> commented:
      </strong> <br />
        <%= comment.body %> <br />

        <% if user_signed_in? && can?(:delete, comment) %>
          <small>
            <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
          </small>
          •
        <% end %>
        <small>
          Commented <%= time_ago_in_words(comment.created_at) %> ago
        </small>
      </p>
    </div>
  <% end %>
</div>
</div>