<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav id="myNav" class="navbar fixed-top navbar-dark bg-light navbar-right">
  <div class="navbar-brand text-primary" href="#!">Blogs On Rails</div>

  <span class="floatRight">
  <%= link_to 'Home', home_path %>
  <%= link_to 'New Post', new_post_path %>
  </nav>
  <br clear="all">

    <%= yield %>
  </body>
</html>
