<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="myNav" class="navbar fixed-top navbar-dark bg-light navbar-right">
      <div class="navbar-brand text-primary" href="#!">📝 Blog On Rails</div>
        
        <span class="floatRight">
          <%= link_to 'Home', home_path %>
          |
          <% if user_signed_in? %>
            <%= link_to 'New Post', new_post_path %>
            |
          <% end %>
          <%= link_to 'Posts', home_path %>
          |
          <% if current_user.present? %>
          
            🤔 Hi, <%= link_to(current_user.first_name, edit_user_path(current_user.id)) %></div>
            
            |
              <%= link_to('Sign Out', session_path, method: :delete) %>
          <% else %>
              <%= link_to('Sign In', new_session_path) %>
              |
              <%= link_to('Sign Up', new_user_path) %>
            
          <% end %>
        </span>
      </div>   
    </nav>
    <br clear="all">
    <div class="container-fluid marginTop">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>